<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slide2</title>
</head>
<body>
<!--5张图片的滑动-->
>
{% load static %}
<p style="text-align:center;">
   🎁礼物
</p>
<section style="display:block; width: 100%; margin: 30px auto;">
  <section style="display: inline-block; width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch">
    <section style="overflow:hidden; width: 500%; max-width: 500% !important">
      <section style="display: inline-block; width: 20%">
        <svg style="background-image: url(&quot;https://bexp.135editor.com/files/users/519/5193422/202408/j4Vh8waN_ZXwR.png?auth_key=1724601599-0-0-d21d43b6cf43cde28947d74dd88dba9d&x-bce-process=image/auto-orient,o_1&quot;); background-size: 100%; background-repeat: no-repeat;
          display: block;" viewBox="0 0 600 800"></svg>
      </section>

      <section style="display: inline-block; width: 20%">
        <svg style="background-image: url(&quot;https://bexp.135editor.com/files/users/519/5193422/202408/Nmw67t2V_h8be.png?auth_key=1724601599-0-0-b46c17f12141e82e66f9ba55a091ce0d&x-bce-process=image/auto-orient,o_1&quot;); background-size: 100%; background-repeat: no-repeat;
          display: block;" viewBox="0 0 600 800"></svg>
      </section>

      <section style="display: inline-block; width: 20%">
        <svg style="background-image: url(&quot;https://bexp.135editor.com/files/users/519/5193422/202408/Ihk9uvk4_Iq7a.png?auth_key=1724601599-0-0-9345a1f166ee62194a181294f21bf666&x-bce-process=image/auto-orient,o_1&quot;); background-size: 100%; background-repeat: no-repeat;
          display: block;" viewBox="0 0 600 800"></svg>
      </section>

      <section style="display: inline-block; width: 20%">
        <svg style="background-image: url(&quot;https://bexp.135editor.com/files/users/519/5193422/202408/E5xx5ynv_qdxM.png?auth_key=1724601599-0-0-23d862bce5ab4476571349d57440b23f&x-bce-process=image/auto-orient,o_1&quot;); background-size: 100%; background-repeat: no-repeat;
          display: block;" viewBox="0 0 600 800"></svg>
      </section>

      <section style="display: inline-block; width: 20%">
        <svg style="background-image: url(&quot;https://bexp.135editor.com/files/users/519/5193422/202408/4pGxW2OD_m9Zb.png?auth_key=1724601599-0-0-49a678cc4ef24b89c80f7107bb43de77&x-bce-process=image/auto-orient,o_1&quot;); background-size: 100%; background-repeat: no-repeat;
          display: block;" viewBox="0 0 600 800"></svg>
      </section>

    </section>
  </section>
</section>

</body>
</html>