<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slide1</title>
</head>
<body>
{% load static %}
  <p style="text-align:center;">
      5.xxx
  </p>
  <section style="display:block; width: 90%; margin: 30px auto;">
    <section style="display: inline-block; width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch">
      <section style="overflow:hidden; width: 200%; max-width: 200% !important">
        <section style="display: inline-block; width: 50%">
          <svg style="background-image: url(&quot;https://bexp.135editor.com/files/users/519/5193422/202408/gqVPzsAa_raDk.png?auth_key=1724601599-0-0-81c077b0c5a9003c8256c0b456ea8594&x-bce-process=image/auto-orient,o_1&quot;); background-size: 100%; background-repeat: no-repeat;
            display: block;" viewBox="0 0 600 800"></svg>
            <section style="height: 0; transform: rotate(180deg);">
            <svg style="background-image: url(&quot;https://bexp.135editor.com/files/users/519/5193422/202408/RjFSmdDb_trBs.png?auth_key=1724601599-0-0-7985984390076e61827aa7f9768b1144&x-bce-process=image/auto-orient,o_1&quot;);
                background-size: 100%; background-repeat: no-repeat; display: block; transform: rotate(180deg);" viewBox="0 0 600 800">
              <set attributename="visibility" from="visible" to="hidden" begin="click+1"></set>
              <animate attributeName="opacity" begin="click" dur="1s" values="1;0" restart="never" fill="freeze"></animate>
            </svg>
            </section>
        </section>

        <section style="display: inline-block; width: 50%">
          <svg style="background-image: url(&quot;https://bexp.135editor.com/files/users/519/5193422/202408/T57uAkHK_cB92.png?auth_key=1724601599-0-0-09bc727179abeda35eebcf1463086b11&x-bce-process=image/auto-orient,o_1&quot;); background-size: 100%; background-repeat: no-repeat;
            display: block;" viewBox="0 0 600 800"></svg>
        </section>

      </section>
    </section>
  </section>
</body>
</html>